/*Main Cnavs Control*/
.canvas_control{
position: relative;
width: 800px;
height: 470px;
float: left;
margin-left: 15px;
}


/*Canvas Wrapper*/
.canvasWrap{
    height: 450px;
    width: 600px;
    display: inline-block;
    margin: auto;
    margin-top: 10px;
}

/*Canvas Collage*/
.canvas_collage{
    border: 1px solid black;
}

.canvas_info{
    width: 600px;
    text-align: center;
}

.canvas_helper{
    float: left;
    visibility: hidden; 
}

img{
    width: 100%;
    height: 100%;
}

/*Image container*/
.img-container{
  border: 1px solid black;
  max-width: 600px;
}


/* Image Item  */
.img-item{
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 10px;
    border:1px solid black;
}

/*Image Navigation*/
.img-nav{  
  position: relative;
  top:5px;
  clear: both;
}


/*File Input Wrapper*/
.input-wrapper{
 margin-top:10px;
}

/*Do not show File Button*/
input[type="file"]{
    display: none !important;
}

/* Input File Div */
.uploadbtn{
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 40px 60px;
    outline: none;
    cursor: pointer;
    font-weight: 100;
    font-size: 17pt;
    
}

/*To avoid focus style of browser*/
input[type="file"]:focus{
    outline: none !important;
}
/*To avoid focus style of browser*/
.canvasWrap:focus{
    outline: none !important;
}


.feachers_list {
    padding:0;
    list-style: none;
       display: inline-block;
}    
.feachers_list li {
    position: relative;
    padding: 10px 30px;
    background: linear-gradient(to left, #1bd45c 0%, #FFF, #1bd45c);
    border: 2px solid #16b01a;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    text-align:center;
    background-size: 100% 100%;
    z-index: 1;
    transition: all 0.8s;
    cursor: pointer;
}
.feachers_list li:before {
    content: "";
    position:absolute;
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, #b1f9af 0%, #FFF, #b1f9af);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
.feachers_list li:hover:before {
    width: 100%;
    opacity: 1;
}






.feachers_list li.active{
transform: translate(-50px,0);
    -webkit-transform: translate(-50px,0); /** Chrome & Safari **/
    -o-transform: translate(-50px,0); /** Opera **/
    -moz-transform: translate(-50px,0); /** Firefox **/
}
